<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.test.mapper.LevelOneTestRound1Mapper">
    
    <resultMap type="LevelOneTestRound1" id="LevelOneTestRound1Result">
        <result property="id"    column="id"    />
        <result property="levelOneTestContent"    column="level_one_test_content"    />
        <result property="levelOneTestId"    column="level_one_test_id"    />
    </resultMap>

    <resultMap id="LevelOneTestRound1LevelTwoTestRound1Result" type="LevelOneTestRound1" extends="LevelOneTestRound1Result">
        <collection property="levelTwoTestRound1List" ofType="LevelTwoTestRound1" column="id" select="selectLevelTwoTestRound1List" />
    </resultMap>

    <resultMap type="LevelTwoTestRound1" id="LevelTwoTestRound1Result">
        <result property="id"    column="id"    />
        <result property="levelTwoTestContent"    column="level_two_test_content"    />
        <result property="levelTwoTestId"    column="level_two_test_id"    />
        <result property="levelOneTestId"    column="level_one_test_id"    />
    </resultMap>

    <sql id="selectLevelOneTestRound1Vo">
        select id, level_one_test_content, level_one_test_id from level_one_test_round1
    </sql>

    <select id="selectLevelOneTestRound1List" parameterType="LevelOneTestRound1" resultMap="LevelOneTestRound1Result">
        <include refid="selectLevelOneTestRound1Vo"/>
        <where>  
            <if test="levelOneTestContent != null  and levelOneTestContent != ''"> and level_one_test_content = #{levelOneTestContent}</if>
            <if test="levelOneTestId != null "> and level_one_test_id = #{levelOneTestId}</if>
        </where>
    </select>
    
    <select id="selectLevelOneTestRound1ById" parameterType="Long" resultMap="LevelOneTestRound1LevelTwoTestRound1Result">
        select id, level_one_test_content, level_one_test_id
        from level_one_test_round1
        where id = #{id}
    </select>

    <select id="selectLevelTwoTestRound1List" resultMap="LevelTwoTestRound1Result">
        select id, level_two_test_content, level_two_test_id, level_one_test_id
        from level_two_test_round1
        where level_one_test_id = #{level_one_test_id}
    </select>

    <insert id="insertLevelOneTestRound1" parameterType="LevelOneTestRound1" useGeneratedKeys="true" keyProperty="id">
        insert into level_one_test_round1
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="levelOneTestContent != null and levelOneTestContent != ''">level_one_test_content,</if>
            <if test="levelOneTestId != null">level_one_test_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="levelOneTestContent != null and levelOneTestContent != ''">#{levelOneTestContent},</if>
            <if test="levelOneTestId != null">#{levelOneTestId},</if>
         </trim>
    </insert>

    <update id="updateLevelOneTestRound1" parameterType="LevelOneTestRound1">
        update level_one_test_round1
        <trim prefix="SET" suffixOverrides=",">
            <if test="levelOneTestContent != null and levelOneTestContent != ''">level_one_test_content = #{levelOneTestContent},</if>
            <if test="levelOneTestId != null">level_one_test_id = #{levelOneTestId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLevelOneTestRound1ById" parameterType="Long">
        delete from level_one_test_round1 where id = #{id}
    </delete>

    <delete id="deleteLevelOneTestRound1ByIds" parameterType="String">
        delete from level_one_test_round1 where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <delete id="deleteLevelTwoTestRound1ByLevelOneTestIds" parameterType="String">
        delete from level_two_test_round1 where level_one_test_id in 
        <foreach item="levelOneTestId" collection="array" open="(" separator="," close=")">
            #{levelOneTestId}
        </foreach>
    </delete>

    <delete id="deleteLevelTwoTestRound1ByLevelOneTestId" parameterType="Long">
        delete from level_two_test_round1 where level_one_test_id = #{levelOneTestId}
    </delete>

    <insert id="batchLevelTwoTestRound1">
        insert into level_two_test_round1( id, level_two_test_content, level_two_test_id, level_one_test_id) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.id}, #{item.levelTwoTestContent}, #{item.levelTwoTestId}, #{item.levelOneTestId})
        </foreach>
    </insert>
</mapper>