<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.test.mapper.TestDataMapper">

    <resultMap type="com.ruoyi.test.domain.TestData" id="TestDataResult">
        <result property="id"    column="id"    />
        <result property="levelTwoTestContent"    column="level_two_test_content"    />
        <result property="measureValue"    column="measure_value"    />
        <result property="isQualified"    column="is_qualified"    />
        <result property="processStatus"    column="process_status"    />
        <result property="gmtCreated"    column="gmt_created"    />
        <result property="gmtModified"    column="gmt_modified"    />
    </resultMap>

    <sql id="selectTestDataVo">
        select id, level_two_test_content, measure_value, is_qualified, process_status, gmt_created, gmt_modified from test_data
    </sql>

    <select id="selectTestDataList" parameterType="com.ruoyi.test.domain.TestData" resultMap="TestDataResult">
        <include refid="selectTestDataVo"/>
        <where>
            <if test="levelTwoTestContent != null  and levelTwoTestContent != ''"> and level_two_test_content = #{levelTwoTestContent}</if>
            <if test="measureValue != null  and measureValue != ''"> and measure_value = #{measureValue}</if>
            <if test="isQualified != null "> and is_qualified = #{isQualified}</if>
            <if test="processStatus != null "> and process_status = #{processStatus}</if>
            <if test="gmtCreated != null "> and gmt_created = #{gmtCreated}</if>
            <if test="gmtModified != null "> and gmt_modified = #{gmtModified}</if>
        </where>
    </select>

    <select id="selectTestDataById" parameterType="Long" resultMap="TestDataResult">
        <include refid="selectTestDataVo"/>
        where id = #{id}
    </select>

    <insert id="insertTestData" parameterType="com.ruoyi.test.domain.TestData" useGeneratedKeys="true" keyProperty="id">
        insert into test_data
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="levelTwoTestContent != null and levelTwoTestContent != ''">level_two_test_content,</if>
            <if test="measureValue != null">measure_value,</if>
            <if test="isQualified != null">is_qualified,</if>
            <if test="processStatus != null">process_status,</if>
            <if test="gmtCreated != null">gmt_created,</if>
            <if test="gmtModified != null">gmt_modified,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="levelTwoTestContent != null and levelTwoTestContent != ''">#{levelTwoTestContent},</if>
            <if test="measureValue != null">#{measureValue},</if>
            <if test="isQualified != null">#{isQualified},</if>
            <if test="processStatus != null">#{processStatus},</if>
            <if test="gmtCreated != null">#{gmtCreated},</if>
            <if test="gmtModified != null">#{gmtModified},</if>
         </trim>
    </insert>

    <update id="updateTestData" parameterType="com.ruoyi.test.domain.TestData">
        update test_data
        <trim prefix="SET" suffixOverrides=",">
            <if test="levelTwoTestContent != null and levelTwoTestContent != ''">level_two_test_content = #{levelTwoTestContent},</if>
            <if test="measureValue != null">measure_value = #{measureValue},</if>
            <if test="isQualified != null">is_qualified = #{isQualified},</if>
            <if test="processStatus != null">process_status = #{processStatus},</if>
            <if test="gmtCreated != null">gmt_created = #{gmtCreated},</if>
            <if test="gmtModified != null">gmt_modified = #{gmtModified},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTestDataById" parameterType="Long">
        delete from test_data where id = #{id}
    </delete>

    <delete id="deleteTestDataByIds" parameterType="String">
        delete from test_data where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
